<h2><b> Beautiful Soup Project </h2></b>

This is a web scraping project using Beautiful Soup library. <br>
Objective: to retrieve data from "wuzzuf.net" with specific search criteria (Data analyst)

import modules

In [164]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

Use requests to fetch the url

In [165]:
result = requests.get("https://wuzzuf.net/search/jobs/?q=data+analyst&a=hpb")

Save page content/markup

In [166]:
src= result.content
#src

Create soup object to parse the content

In [167]:
soup=BeautifulSoup(src,"lxml")
#soup

Find the elements that contain the needed info:<br>
Job title, company name, location, skills, date, job description, and requirements

In [168]:
job_titles_html=soup.find_all("h2",{"class":"css-m604qf"})
#job_titles

In [169]:
company_names_html=soup.find_all("a",{"css-17s97q8"})
#company_names

In [170]:
locations_html=soup.find_all("span",{"class":"css-5wys0k"})
#locations

In [171]:
dates_html=soup.find_all("div", {"class":["css-do6t5g","css-4c4ojb"]})
#dates_html

In [172]:
shift_types_html=soup.find_all("span",{"class":"css-1ve4b75 eoyjyou0"})
#shift_type

Loop over returned lists to extract needed info into other lists

In [173]:
job_titles_txt=[]
company_names_txt=[]
locations_txt=[]
dates_txt=[]
shift_types_txt=[]

In [174]:
for i in range(len(dates_html)):
    job_titles_txt.append(job_titles_html[i].text)
    company_names_txt.append(company_names_html[i].text)
    locations_txt.append(locations_html[i].text)
    dates_txt.append(dates_html[i].text)
    shift_types_txt.append(shift_types_html[i].text)

Create Dictionary

In [175]:
dict1={"Job Title":job_titles_txt,
       "Company":company_names_txt,
       "Location":locations_txt,
       "Date":dates_txt,
       "Type":shift_types_txt}
#dict11

Create Pandas DataFrame

In [176]:
df=pd.DataFrame(dict1)
df

,Job Title,Company,Location,Date,Type
0,Data Analyst,ITCan -,"New Cairo, Cairo, Egypt",13 days ago,Full Time
1,Data Analyst,London International Patient Services -,"Sheraton, Cairo, Egypt",13 days ago,Full Time
2,Data Analyst,AL-Matar -,"Maadi, Cairo, Egypt",12 days ago,Full Time
3,Data Analyst,Safa International Travel -,"Dokki, Giza, Egypt",14 days ago,Full Time
4,Medical Data Analyst-Private Hospital Background,Confidential -,"New Cairo, Cairo, Egypt",5 days ago,Full Time
5,Senior Data Analyst,Fawry for Banking Technology and Electronic Pa...,"Smart Village, Giza, Egypt",20 days ago,Full Time
6,Electronic Data Interchange (EDI) Analyst (Flu...,FlairsTech -,"Cairo, Egypt",15 days ago,Full Time
7,Data Analyst,Othaim -,"Katameya, Cairo, Egypt",22 days ago,Full Time
8,Data Analyst,Confidential -,"Heliopolis, Cairo, Egypt",27 days ago,Full Time
9,Senior Software Business Analyst / ERP,Our Education -,"Nasr City, Cairo, Egypt",1 day ago,Full Time
10,Data Analyst,Al Ahly capital holding - Al Ahly Tamkeen -,"Zamalek, Cairo, Egypt",1 month ago,Full Time
11,Software Business Analyst,WSC -,"Dokki, Giza, Egypt",26 days ago,Full Time
12,Market Research Analyst,Gap Polymers -,"Maadi, Cairo, Egypt",27 days ago,Full Time
13,Business analyst,Dawi Clinics -,"Maadi, Cairo, Egypt",27 days ago,Full Time
14,Financial Analyst - Innoventures,Cultiv -,"Heliopolis, Cairo, Egypt",28 days ago,Full Time

Export DataFrame to CSV file

In [178]:
df.to_csv("jobs.csv", index=False)